
.container-menu-hostal {
  margin-top: 120px;
}

.container-menu-hostal > .container > .row> .caja1{
  background-color: rgba(11, 3, 109, 0.89);
  height: 23vh;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.container-menu-hostal > .container > .row> .caja2{
  background-color: rgba(151, 31, 1, 0.89);
  height: 23vh;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.container-menu-hostal > .container > .row> .caja3{
  background-color: rgba(1, 91, 151, 0.479);
  height: 23vh;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.container-menu-hostal > .container > .row> .caja4{
  background-color: rgba(36, 19, 65, 0.89);
  height: 23vh;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.container-menu-hostal > .container > .row> .caja5{
  background-color: rgba(41, 97, 55, 0.89);
  height: 23vh;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.container-menu-hostal > .container > .row> .caja6{
  background-color: rgba(4, 1, 151, 0.89);
  height: 23vh;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.icon-huesped, .icon-habitacion, .icon-comedor,
.icon-addCliente, .icon-reporte,
.icon-rol {
  color: white;
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

.icon-reserva {
  color: white;
  width: 45%;
  height: 50%;
  margin-left: 30%;
}
.container-menu-hostal > .container > .row> .caja1:hover, 
.container-menu-hostal > .container > .row> .caja2:hover, 
.container-menu-hostal > .container > .row> .caja3:hover, 
.container-menu-hostal > .container > .row> .caja5:hover, 
.container-menu-hostal > .container > .row> .caja4:hover, 
.container-menu-hostal > .container > .row> .caja6:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}